<div class="container well">
	<h2>
		<span id="search-recipes-page-title">Search Recipes</span>
	</h2>
</div>

<div class="container">
	<div class="input-group form-group">
		<input id="search-input" class="form-control" placeholder="Search for..." type="text" ng-model="searchString"/>
		<span class="input-group-btn"><button id="search-button" class="btn btn-default" ng-click="searchRecipes()">Search Recipes</button></span>
	</div>
</div>

<div id="recipe-list" class="container">
	<table class="table" ng-show="recipeList.length > 0">
		<thead>
			<tr>
				<th>Recipe Name</th><th>Recipe Link</th>
			</tr>
		</thead>
		<tbody>
			<tr class="recipe" ng-repeat="recipe in recipeList">
				<td><span class="recipe-name">{{recipe.recipeName}}</span></td>
				<td><a id="{{recipe.recipeId}}" class="view-recipe-link btn btn-default btn-xs" href="#/view-recipe/{{recipe.recipeId}}" role="button">View</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container">
	<a id="home-button" class="btn btn-default" href="#/home" role="button">Home</a>
</div>