<div ng-include="'user/user.html'"></div>

<div class="container" ng-hide="inEditMode()">
	<h2><span id="recipe-name">{{recipe.recipeName}}</span></h2>
	<p><span id="recipe-content" class="show-line-breaks">{{recipe.recipeContent}}</span></p>
</div>

<div class="container" ng-show="inEditMode()">
	<h2>
		<span id="edit-recipe-page-title">Edit Recipe</span>
	</h2>
	<div class="form-group">
		<input id="recipe-name-input" class="form-control" placeholder="Recipe Name" type="text" ng-model="nameBeingEdited"/>
	</div>
	<div class="form-group">
		<textarea id="recipe-content-input" class="form-control" rows="10" placeholder="Recipe Content" type="text" ng-model="contentBeingEdited"></textarea>
	</div>
</div>

<div class="container hidden-print">
	<a id="home-button" class="btn btn-default" href="#/home" role="button" ng-hide="inEditMode()">Home</a>
	<a id="back-button" class="btn btn-default" ng-click="back()" role="button" ng-if="shouldShowBackButton()" ng-hide="inEditMode()">Back</a>
	<a id="edit-recipe-button" class="btn btn-default" ng-click="editClicked()" role="button" ng-if="shouldShowEditButtons()" ng-hide="inEditMode()">Edit Recipe</a>
	<a id="cancel-edit-button" class="btn btn-default" ng-click="cancelEdit()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Cancel</a>
	<a id="update-recipe-button" class="btn btn-default" ng-click="saveClicked()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Save Recipe</a>
</div>