<form name="myForm">
	<div>
		<button class="select-image-button" ngf-select ng-model="picFile" accept="image/*" ngf-change="startProcessing()" >Select Image</button>
		<span class="processing-message" ng-show="processing"><i class="fa fa-spinner fa-pulse fa-fw"></i> Processing...</span></span>
	</div>

	<div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea selected-image">
		<img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="square"></img-crop>
	</div>

	<div class="cropped-image-holder">
		<div class="cropped-image">
			<img ng-src="{{croppedDataUrl}}"/>
		</div>

		<button class="upload-image-button" ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>

		<span class="loading-message" ng-show="loading"><i class="fa fa-spinner fa-pulse fa-fw"></i> Working...</span></span>
		<span class="success-message" ng-show="result">Image uploaded.</span>
		<span class="error-message" ng-show="errorMsg">{{errorMsg}}</span>
	</div>
</form>