<div ng-include="'recipe-lib/navbar/navbar.html'"></div>
<div class="container new-recipe-page">
	<div class="save-recipe-title-holder"><h2><span id="new-recipe-page-title">New Recipe</span></h2></div>

	<div class="serves-as-newline" ng-show="hasImage()"></div>
	<img class="recipe-image" ng-show="hasImage()" src="{{newImage.imageUrl}}" />
	<div class="image-upload-holder">
		<div class="image-upload-toggle-spacer" ng-show="hasImage()"></div>
		<image-upload-modal image-saved-callback="imageSaved"></image-upload-modal>
	</div>

	<div class="form-group">
		<input id="recipe-name-input" class="form-control" placeholder="Recipe Name" type="text" ng-model="newRecipeName"/>
	</div>
	<div class="form-group">
		<trix-editor id="recipe-editor" angular-trix ng-model="newRecipeContent" placeholder="Recipe Content" toolbar="trix-toolbar"></trix-editor>
		<trix-toolbar id="trix-toolbar"></trix-toolbar>
	</div>

	<a class="save-button btn btn-secondary" role="button" ng-click="saveRecipeAndNavigate()">Save Recipe</a>
</div>

<div class="container" ng-show="shouldShowErrorMessage()">
	<p class="save-error-message recipe-error-message alert alert-danger">In order to save a recipe you must be logged in. Click the 'Log In' link in the top right corner and enter your email address.</p>
</div>