<div ng-include="'recipe-lib/navbar/navbar.html'"></div>

<div class="container view-recipe-page" ng-hide="inEditMode()">
	<img class="recipe-image" ng-if="imageExists(recipe)" src="{{recipe.image.imageUrl}}"/>
	<h2><span id="recipe-name">{{recipe.recipeName}}</span></h2>
	<a class="btn btn-secondary alternate-url-copy-button" ng-click="copyAlternateUrlClicked()" role="button">Alternate Url</a>
	<p><span id="recipe-content" class="recipe-ingredients show-line-breaks" ng-bind-html="recipe.recipeContent"></span></p>
</div>

<div class="container edit-recipe-page" ng-show="inEditMode()">
	<div class="edit-recipe-title-holder"><h2><span id="edit-recipe-page-title">Edit Recipe</span></h2></div>

	<div class="serves-as-newline" ng-show="imageExists(recipe)"></div>
	<img class="recipe-image" ng-show="imageExists(recipe)" src="{{recipe.image.imageUrl}}"/>
	<div class="image-upload-holder">
		<div class="image-upload-toggle-spacer" ng-show="imageExists(recipe)"></div>
		<image-upload-modal image-saved-callback="imageSaved"></image-upload-modal>
	</div>

	<div class="form-group">
		<input id="recipe-name-input" class="form-control" placeholder="Recipe Name" type="text" ng-model="nameBeingEdited"/>
	</div>
	<div class="form-group">
		<trix-editor id="hi" angular-trix ng-model="contentBeingEdited" toolbar="trix-toolbar"></trix-editor>
		<trix-toolbar id="trix-toolbar"></trix-toolbar>
	</div>
</div>

<div class="container hidden-print">
	<a id="edit-recipe-button" class="btn btn-secondary" ng-click="editClicked()" role="button" ng-if="shouldShowEditButtons()" ng-hide="inEditMode()">Edit Recipe</a>
	<a id="cancel-edit-button" class="btn btn-secondary" ng-click="cancelEdit()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Cancel</a>
	<a id="update-recipe-button" class="btn btn-secondary" ng-click="saveClicked()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Save Recipe</a>
	<div class="pull-right">
		<span id="in-recipe-book-marker" class="badge badge-default" ng-show="inRecipeBook()"><i class="fa fa-check" aria-hidden="true"></i> In Recipe Book</span>
		<a class="remove-recipe-from-book-button btn btn-secondary btn-sm" ng-show="canRemoveFromRecipeBook()" ng-click="removeRecipeFromBook()" role="button">Remove</a>
	</div>
	<a class="add-to-recipe-book-button btn btn-secondary pull-right floating-bottom-button" ng-show="canAddToRecipeBook()" ng-click="addToRecipeBook()" role="button">Add to Recipe Book</a>
</div>