<div ng-include="'recipe-lib/navbar/navbar.html'"></div>

<div class="container" ng-hide="inEditMode()">
	<h2><span id="recipe-name">{{recipe.recipeName}}</span></h2>
	<p><span id="recipe-content" class="show-line-breaks" ng-bind-html="recipe.recipeContent"></span></p>
</div>

<div class="container" ng-show="inEditMode()">
	<h2>
		<span id="edit-recipe-page-title">Edit Recipe</span>
	</h2>
	<div class="form-group">
		<input id="recipe-name-input" class="form-control" placeholder="Recipe Name" type="text" ng-model="nameBeingEdited"/>
	</div>
	<div class="form-group">
		<trix-editor id="hi" angular-trix ng-model="contentBeingEdited" toolbar="trix-toolbar"></trix-editor>
		<trix-toolbar id="trix-toolbar"></trix-toolbar>
	</div>
</div>

<div class="container hidden-print">
	<a id="home-button" class="btn btn-secondary" href="#/home" role="button" ng-hide="inEditMode()">Home</a>
	<a id="back-button" class="btn btn-secondary" ng-click="back()" role="button" ng-if="shouldShowBackButton()" ng-hide="inEditMode()">Back</a>
	<a id="edit-recipe-button" class="btn btn-secondary" ng-click="editClicked()" role="button" ng-if="shouldShowEditButtons()" ng-hide="inEditMode()">Edit Recipe</a>
	<a id="cancel-edit-button" class="btn btn-secondary" ng-click="cancelEdit()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Cancel</a>
	<a id="update-recipe-button" class="btn btn-secondary" ng-click="saveClicked()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Save Recipe</a>
	<div class="pull-right">
		<span id="in-recipe-book-marker" class="badge badge-default" ng-show="inRecipeBook()"><i class="fa fa-check" aria-hidden="true"></i> In Recipe Book</span>
		<a class="remove-recipe-from-book-button btn btn-secondary btn-sm" ng-show="canRemoveFromRecipeBook()" ng-click="removeRecipeFromBook()" role="button">Remove</a>
	</div>
	<a class="add-to-recipe-book-button btn btn-secondary pull-right" ng-show="canAddToRecipeBook()" ng-click="addToRecipeBook()" role="button">Add to Recipe Book</a>
</div>