<div ng-include="'recipe-lib/navbar/navbar.html'"></div>

<div class="container" ng-hide="inEditMode()">
	<h2><span id="recipe-name">{{recipe.recipeName}}</span></h2>
	<p><span id="recipe-content" class="show-line-breaks" ng-bind-html="recipe.recipeContent"></span></p>
</div>

<div class="container" ng-show="inEditMode()">
	<h2 class="edit-recipe-page-title">
		<span id="edit-recipe-page-title">Edit Recipe</span>
	</h2>

	<button class="image-upload-toggle btn btn-secondary" data-toggle="modal" data-target=".image-upload-modal"><i class="fa fa-file-image-o" aria-hidden="true"></i> Upload Image</button>

	<div class="image-upload-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="image-upload-modal-title" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="image-upload-modal-title">Image Upload</h5>
					<button type="button" class="close close-upload-image-x" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div image-upload recipe="recipe" image-saved-callback="imageSaved" class="image-upload-section"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-upload-image-button" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<input id="recipe-name-input" class="form-control" placeholder="Recipe Name" type="text" ng-model="nameBeingEdited"/>
	</div>
	<div class="form-group">
		<trix-editor id="hi" angular-trix ng-model="contentBeingEdited" toolbar="trix-toolbar"></trix-editor>
		<trix-toolbar id="trix-toolbar"></trix-toolbar>
	</div>
</div>

<div class="container hidden-print">
	<a id="edit-recipe-button" class="btn btn-secondary" ng-click="editClicked()" role="button" ng-if="shouldShowEditButtons()" ng-hide="inEditMode()">Edit Recipe</a>
	<a id="cancel-edit-button" class="btn btn-secondary" ng-click="cancelEdit()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Cancel</a>
	<a id="update-recipe-button" class="btn btn-secondary" ng-click="saveClicked()" role="button" ng-if="shouldShowEditButtons()" ng-show="inEditMode()">Save Recipe</a>
	<div class="pull-right">
		<span id="in-recipe-book-marker" class="badge badge-default" ng-show="inRecipeBook()"><i class="fa fa-check" aria-hidden="true"></i> In Recipe Book</span>
		<a class="remove-recipe-from-book-button btn btn-secondary btn-sm" ng-show="canRemoveFromRecipeBook()" ng-click="removeRecipeFromBook()" role="button">Remove</a>
	</div>
	<a class="add-to-recipe-book-button btn btn-secondary pull-right" ng-show="canAddToRecipeBook()" ng-click="addToRecipeBook()" role="button">Add to Recipe Book</a>
</div>