<div ng-include="'user/user.html'"></div>
<div class="container">
	<h2>
		<span id="new-recipe-page-title">Save a New Recipe</span>
	</h2>
</div>

<div class="container">
	<div class="form-group">
		<input id="recipe-name-input" class="form-control" placeholder="Recipe Name" type="text" ng-model="newRecipeName"/>
	</div>
	<div class="form-group">
		<textarea id="recipe-content-input" class="form-control" rows="10" placeholder="Recipe Content" type="text" ng-model="newRecipeContent"></textarea>
	</div>
</div>

<div class="container">
	<a id="home-button" class="btn btn-default" href="#/home" role="button">Home</a>
	<a class="save-button btn btn-default" role="button" ng-click="saveRecipeAndNavigate()">Save Recipe</a>
</div>

<div class="container" ng-show="shouldShowErrorMessage()">
	<p class="save-error-message alert alert-danger">In order to save a recipe you must be logged in. Click the link in the top right corner and enter your email address.</p>
</div>