/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.user-section {
	/* background-color: #5EE896; */
}

.recipe-error-message {
  margin-top: 15px;
}

.result-info-message {
  color: #999999;
  font-size: smaller;
}

.show-line-breaks {
  white-space: pre-line;
}


/** THIS IS HERE FOR THE FOOTER **/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom must match the footer height */
  margin-bottom: 30px;
}
.footer {
  /* Set the fixed height of the footer here */
  height: 30px;

  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  color: lightgray;
  font-size: xx-small;
}

.footer a {
  color: lightgray;
  font-size: xx-small;
}
/** END OF THE FOOTER SECTION**/


trix-toolbar .dialogs .dialog {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

trix-toolbar .button_groups {
  border-color: transparent #d6d6d6 #d6d6d6;
  border-image: none;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
}

trix-toolbar .button_group {
  border-color: #d6d6d6;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 0;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: -2px;

  border: 0;
  border-right: 1px solid #bbb;
  padding-right: 5px;
}
trix-editor {
  border-color: #d6d6d6;
  border-radius: 4px 4px 0 0;
  word-wrap: break-word;
  color: #333;
  min-height: 350px;
}
trix-toolbar .button_group button {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s ease 0s;
  border: 0 none;
}
trix-toolbar .button_group button.active,
trix-toolbar .button_group button.active:hover {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2) inset !important;
  opacity: 1;
}
trix-toolbar .button_group button:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1) inset !important;
  opacity: 1;
}

trix-toolbar .button_group button:not(:first-child), trix-toolbar .button_group input[type=button]:not(:first-child) {
  border-left: 0 none;
}

trix-editor:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #999;
}