.bg-navy {
  background-color: #001f3f;
}

.recipe-image-row {
  margin-right: -5px;
  margin-left: 10px;
}

.recipe-image-holder {
  padding-right: 15px;
  padding-left: 0px;
}

.recipe-name.card-title {
  color: #555555;
}
.user-section {
	/* background-color: #5EE896; */
  /*margin-bottom: 23px;*/
  padding: 5px 27px;
  color: #595959;
}

.navbar-spacer {
  height: 73px;
}

.login-required-alert {
  position: absolute;
  top: 79%;
  left: 33%;
}

.login-required-alert .message {
  margin-right: 18px;
}

.user-dropdown-menu {
  padding-left: 8px;
  padding-right: 8px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #001f3f;
  min-width: 4.5rem;
}
.user-dropdown-menu .login-fields{
  width: 300px;
}
.user-dropdown-menu .logout-section {
  width: 4.5rem;
  margin-right: 0px;
}
.user-dropdown-menu .user-login-message {
  margin-bottom: 5px;
}
.user-dropdown-menu .user-sign-up-message {
  margin-bottom: 5px;
}

/*.user-section .navbar-link a{*/
  /*transition: all .25s ease;*/
/*}*/
/*.user-section .navbar-link  a:hover {*/
  /*color: #0275d8 !important;*/
  /*!*text-decoration: underline;*!*/
  /*!*transition-delay: .15s;*!*/
  /*!*-webkit-transition-delay: .15s;*!*/
/*}*/

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: lightgray;
}
#recipe-editor::before { /* Chrome/Opera/Safari */
  color: lightgray;
}

.recipe-card-holder {
  column-count: 2;
}

.home-nav-button-holder {
  column-count: 3;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}


.recipe-card-holder .recipe{
  display: inline-block;
  -webkit-transform: scale(.95);
  -moz-transform:    scale(.95);
  -o-transform:      scale(.95);
  -ms-transform:     scale(.95);
}
.recipe-card-holder .recipe:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(.97);
  -moz-transform:    scale(.97);
  -o-transform:      scale(.97);
  -ms-transform:     scale(.97);

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.recipe-error-message {
  margin-top: 15px;
}

.result-info-message {
  color: #999999;
  font-size: smaller;
}

.show-line-breaks {
  white-space: pre-line;
}

.recipe-table-body {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

/** FOOTER SECTION **/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom must match the footer height */
  margin-bottom: 30px;
}
.footer {
  /* Set the fixed height of the footer here */
  height: 30px;

  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  color: lightgray;
  font-size: xx-small;
}

.footer a {
  color: lightgray;
  font-size: xx-small;
}
/** END OF THE FOOTER SECTION **/

/** TEXT EDITOR SECTION **/
trix-editor {
  background-color: white;
}

trix-toolbar {
  background-color: white;
}

trix-toolbar .dialogs .dialog {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

trix-toolbar .button_groups {
  border-color: transparent #d6d6d6 #d6d6d6;
  border-image: none;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
}

trix-toolbar .button_group {
  border-color: #d6d6d6;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 0;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: -2px;

  border: 0;
  border-right: 1px solid #bbb;
  padding-right: 5px;
}
trix-editor {
  border-color: #d6d6d6;
  border-radius: 4px 4px 0 0;
  word-wrap: break-word;
  color: #333;
  min-height: 350px;
}
trix-toolbar .button_group button {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s ease 0s;
  border: 0 none;
}
trix-toolbar .button_group button.active,
trix-toolbar .button_group button.active:hover {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.2) inset !important;
  opacity: 1;
}
trix-toolbar .button_group button:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1) inset !important;
  opacity: 1;
}

trix-toolbar .button_group button:not(:first-child), trix-toolbar .button_group input[type=button]:not(:first-child) {
  border-left: 0 none;
}

trix-editor:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #999;
}
/** END TEXT EDITOR **/