<div ng-include="'recipe-lib/user/user.html'"></div>
<div class="container">
	<h2>
		<span id="search-recipes-page-title">Search Recipes</span>
	</h2>
</div>

<div class="container">
	<div class="input-group form-group">
		<input id="search-input" class="form-control" placeholder="Search for..." focus="true" type="text" ng-model="searchString"/>
		<span class="input-group-btn"><button id="search-button" class="btn btn-default" ng-click="searchRecipes()">Search Recipes</button></span>
		<span class="input-group-btn"><button id="show-all-recipes-button" class="btn btn-default" ng-click="showAllRecipes()">Show All Recipes</button></span>
	</div>
</div>

<div class="container form-group">
	<span class="result-info-message">{{resultInfoMessage}}</span>
</div>

<div id="no-search-results-message" class="container" ng-show="recipeList.length == 0 && searchHasOccurred">
	<p class="lead">
		<span id="greeting-message">No recipes were found that match the search.</span>
	</p>
</div>

<div id="recipe-list" class="container">
	<table class="table table-hover recipe-table">
		<tbody class="recipe-table-body">
			<tr class="recipe-row" ng-repeat="recipe in recipeList"  ng-click="navigateToRecipePage(recipe)">
				<td recipe-element recipe="recipeList[$index]" recipe-book="usersRecipeBook"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container">
	<a id="home-button" class="btn btn-default" href="#/home" role="button">Home</a>
</div>