<div class="recipe" id="{{recipe.recipeId}}" ng-click="navigateToRecipePage(recipe)">
	<span class="recipe-name">{{recipe.recipeName}}</span>
	<span ng-if="recipeInRecipeBook" class="in-recipe-book-indicator pull-right">In Recipe Book</span>
	<span ng-if="canAddToRecipeBook" class="add-to-recipe-book-button btn btn-secondary btn-sm pull-right" ng-click="addToRecipeBook($event)">Add to Recipe Book</span>
	<span ng-if="removeAllowed()"><a class="remove-recipe-from-book-button btn btn-secondary btn-sm pull-right" ng-click="removeRecipe($event, recipe)" role="button">Remove from Recipe Book</a></span>
</div>