<div ng-include="'recipe-lib/user/user.html'"></div>


<div class="container">
	<h1 class="display-4"><span id="page-title">Recipe Book: Chris</span></h1>

	<hr/>
	<br/>

	<div class="card-columns recipe-card-holder">
		<div class="recipe card view overlay hm-red-strong hoverable"  id="58cdc736a9571086cfcd111b" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h4 class="recipe-name card-title ng-binding">a recipe</h4>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-right">
				<span class="ng-scope"><a class="remove-recipe-from-book-button btn btn-secondary btn-sm " role="button">Remove from Recipe Book</a></span>
			</div>
		</div>
		<div class="recipe card"  id="58cdc740a9571086cfcd111c" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h4 class="recipe-name card-title ng-binding">another recipe</h4>
				<p class="card-text">
					Hi this is the recipe text <br/>
					Whoa so awesome
				</p>
			</div>
			<div class="card-footer text-right">
				<span class="ng-scope"><a class="remove-recipe-from-book-button btn btn-secondary btn-sm" role="button">Remove from Recipe Book</a></span>
			</div>
		</div>
		<div class="recipe card"  id="58cdc74ea9571086cfcd111d" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h4 class="recipe-name card-title ng-binding">Pumpkin Stuffed With Everything Good and a few less good things too</h4>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-right">
				<span class="ng-scope"><a class="remove-recipe-from-book-button btn btn-secondary btn-sm" role="button">Remove from Recipe Book</a></span>
			</div>
		</div>
		<div class="recipe card"  id="58cdc754a9571086cfcd111e" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h4 class="recipe-name card-title ng-binding">asdfas;dkfjn</h4>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-right">
				<span class="ng-scope"><a class="remove-recipe-from-book-button btn btn-secondary btn-sm" role="button">Remove from Recipe Book</a></span>
			</div>
		</div>
	</div>

	<a id="home-button" class="btn btn-secondary" ng-click="navigateHome()" role="button">Home</a>

</div>