<!--<nav class="navbar navbar-toggleable navbar-light bg-faded hidden-print navbar-section">-->
<!--<nav class="navbar navbar-toggleable navbar-inverse bg-inverse hidden-print navbar-section">-->
<!--<nav class="navbar navbar-toggleable navbar-inverse bg-maroon hidden-print navbar-section">-->
<nav class="navbar navbar-toggleable navbar-inverse bg-navy hidden-print navbar-section">
	<!--<nav class="navbar navbar-toggleable navbar-inverse bg-teal hidden-print navbar-section">-->
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="#/home">Home Page</a>
			<a class="nav-item nav-link" href="#/search-recipes">Browse Recipes</a>
			<a class="nav-item nav-link" href="#/user/58c8b2bda957106e48de608d/recipe-book">Recipe Book</a>
		</div>
		<div class="navbar-nav ml-auto">
			<div class="nav-item dropdown">
				<a id="logoutLink" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<small>Welcome, Chris</small>
					<!--<i id="expand-logout-section-icon" class="fa fa-angle-down fa-lg"></i>-->
				</a>
				<div class="dropdown-menu" aria-labelledby="logoutLink">
					<div class="logout-section nav navbar-form login-fields">
						<button id="log-out-button" class="btn btn-secondary btn-sm">Log Out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<style>
	.cropArea {
		background: #E4E4E4;
		overflow: hidden;
		width:500px;
		height:350px;
	}
	form .progress {
		line-height: 15px;
	}
	.progress {
		display: inline-block;
		width: 100px;
		border: 3px groove #CCC;
	}
	.progress div {
		font-size: smaller;
		background: orange;
		width: 0;
	}
</style>

<div class="container">
	<h1 class="display-4"><span id="page-title">Recipe Book: Chris</span></h1>

	<hr/>
	<br/>

	<form name="myForm">
		<div>Crop Image and Upload</div>
		<button ngf-select ng-model="picFile" accept="image/*">Select Picture</button>

		<div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
			<img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="square"></img-crop>
		</div>

		<div>
			<img ng-src="{{croppedDataUrl}}"/>
		</div>

		<button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>

		<span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
		<span ng-show="result">Upload Successful</span>
		<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
	</form>

	<br/>
	<br/>
	<img src="http://s3.us-east-2.amazonaws.com/myrecipeconnection.com.images/190c7588-d110-4e1a-b657-bac741972e8c"/>

</div>