<!--<nav class="navbar navbar-toggleable navbar-light bg-faded hidden-print user-section">-->
<!--<nav class="navbar navbar-toggleable navbar-inverse bg-inverse hidden-print user-section">-->
<!--<nav class="navbar navbar-toggleable navbar-inverse bg-maroon hidden-print user-section">-->
<nav class="navbar navbar-toggleable navbar-inverse bg-navy hidden-print user-section">
	<!--<nav class="navbar navbar-toggleable navbar-inverse bg-teal hidden-print user-section">-->
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="#/home">Home Page</a>
			<a class="nav-item nav-link" href="#/search-recipes">Browse Recipes</a>
			<a class="nav-item nav-link" href="#/user/58c8b2bda957106e48de608d/recipe-book">Recipe Book</a>
		</div>
		<div class="navbar-nav ml-auto">
			<a id="logged-in-user-message" class="nav-item nav-link" ng-click="toggleLogout()">
				<small>Welcome, Chris</small>
				<i id="expand-logout-section-icon" class="fa fa-angle-down fa-lg"></i>
			</a>
		</div>
		<div class="navbar-nav ml-auto">
			<div class="nav-item dropdown">
				<a id="logoutLink" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<small>Welcome, Chris</small>
					<!--<i id="expand-logout-section-icon" class="fa fa-angle-down fa-lg"></i>-->
				</a>
				<div class="dropdown-menu" aria-labelledby="logoutLink">
					<div class="logout-section nav navbar-form login-fields">
						<button id="log-out-button" class="btn btn-secondary btn-sm">Log Out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<h1 class="display-4"><span id="page-title">Recipe Book: Chris</span></h1>

	<hr/>
	<br/>

	<div class="card-columns recipe-card-holder">
		<div class="recipe card view overlay hm-red-strong hoverable" id="58cdc736a9571086cfcd111b" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h5 class="recipe-name card-title ng-binding">a recipe</h5>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-right">
				<a class="remove-recipe-from-book-button btn btn-outline-secondary btn-sm " role="button">Remove from Recipe Book</a>
			</div>
		</div>
		<div class="recipe card" id="58cdc740a9571086cfcd111c" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h5 class="recipe-name card-title ng-binding">another recipe</h5>
				<p class="card-text">
					Hi this is the recipe text <br/>
					Whoa so awesome
				</p>
			</div>
			<div class="card-footer text-right">
				<a class="remove-recipe-from-book-button btn btn-outline-secondary btn-sm" role="button">Remove from Recipe Book</a>
			</div>
		</div>
		<div class="recipe card" id="58cdc74ea9571086cfcd111d" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h5 class="recipe-name card-title ng-binding">Pumpkin Stuffed With Everything Good and a few less good things too</h5>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-right">
				<a class="remove-recipe-from-book-button btn btn-outline-secondary btn-sm" role="button">Remove from Recipe Book</a>
			</div>
		</div>
		<div class="recipe card" id="58cdc754a9571086cfcd111e" ng-click="navigateToRecipePage(recipe)">
			<div class="card-block">
				<h5 class="recipe-name card-title ng-binding">asdfas;dkfjn</h5>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-right">
				<a class="remove-recipe-from-book-button btn btn-outline-secondary btn-sm" role="button">Remove from Recipe Book</a>
			</div>
		</div>
	</div>

</div>