<nav class="user-section navbar-default hidden-print" ng-controller="UserCtrl">

	<div class="container-fluid">
	
		<ul class="nav navbar-nav navbar-right navbar-link" ng-hide="isLoggedIn">
			<li>
				<a class="login-link" ng-click="toggleLogin()">Log In</a>
			</li>
		</ul>
		
		<ul class="nav navbar-nav navbar-right navbar-link" ng-show="isLoggedIn">
			<li>
				<a id="logged-in-user-message" ng-click="toggleLogout()">Welcome, {{user.userName}}</a>
			</li>
		</ul>
		
	</div>

	<div class="container-fluid" ng-hide="isLoggedIn">

		<ul class="login-fields nav navbar-form navbar-right" ng-show="shouldShowLogIn()">

			<li class="user-login-message">Please enter your email address to log in or sign up.</li>

			<li class="form-group">
				<label for="sign-up-user-email">Email</label>
				<input id="sign-up-user-email" class="form-control input-sm" ng-model="email" placeholder="jane.doe@example.com"></input>
			</li>
			
			<li class="form-group">
				<button id="log-in-user-button" class="btn btn-default btn-sm" ng-click="logIn()">Log In</button>
			</li>
		</ul>
		
		<ul class="login-fields nav navbar-form navbar-right" ng-show="shouldShowSignUp()">

			<li class="user-sign-up-message">What name would you like to use?</li>

			<li class="form-group">
				<label for="sign-up-user-name">Name</label>
				<input id="sign-up-user-name" class="form-control input-sm" ng-model="name" placeholder="Jane"></input>
			</li>
			
			<li class="form-group">
				<button id="sign-up-user-button" class="btn btn-default btn-sm" ng-click="signUp()">Sign Up</button>
			</li>
		</ul>
	</div>
	
	<div class="container-fluid" ng-show="isLoggedIn">
		
		<ul class="logout-section nav navbar-form navbar-right" ng-show="logoutVisible">
			<li class="form-group">
				<button id="log-out-button" class="btn btn-default btn-sm" ng-click="logOut()">Log Out</button>
			</li>
		</ul>
		
	</div>
</nav>